$background-image: url(../img/0.jpg) no-repeat top;

$font-sourse: "Source Sans Pro", sans-serif;
$font-hind: "Hind", sans-serif;
$font-fresca: "Fresca", sans-serif;

$p-color: #395369;
$h3-color: #9b9b9b;
$revievs-bg: #8d6f79;
$revievs-block-bg: #ad8995;
$revievs-heading-color: #cba2b0;
$find-bg: #8695a2;
$find-heading-color: #c1d1db;
$find-color: #5e6872;

$footer-bg: #3d5585;
$footer-heading-color: #659afe;
$footer-links: #467acd;
$footer-p: #1a275e;
$footer-btn: #0a275e;

$images: (
  1: "../img/1.jpg",
  2: "../img/2.jpg",
  3: "../img/3.jpg",
);
