$background-image: url(../img/4.jpg) no-repeat top;

$font-sourse: "Source Sans Pro", sans-serif;
$font-hind: "Hind", sans-serif;
$font-fresca: "Fresca", sans-serif;

$p-color: #69395e;
$h3-color: #a58fa8;
$revievs-bg: #8a6f8d;
$revievs-block-bg: #caa2cb;
$revievs-heading-color: #caa2cb;
$find-bg: #9f86a2;
$find-heading-color: #4e2846;
$find-color: #31262c;

$footer-bg: #5d3d85;
$footer-heading-color: #b965fe;
$footer-links: #8a46d8;
$footer-p: #520a5e;
$footer-btn: #4f0a5e;

$images: (
  1: "../img/5.jpeg",
  2: "../img/6.jpg",
  3: "../img/7.jpg",
);
